<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.disciplined">

    <uses-permission android:name="android.permission.ACTION_MANGE_OVERLAY_PERMISSION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".RemainderNotifications"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".remainderList"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".doneSerice"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".alarmReceiver"
            android:enabled="true"
            />
        <activity android:name=".goTo"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".sound_volume" />
        <activity android:name=".snooze"
            android:parentActivityName=".addAlarm"/>
        <activity android:name=".addAlarm"
            android:parentActivityName=".NewTask"/>
        <activity android:name=".addRemainders"
            android:parentActivityName=".NewTask"/>
        <activity
            android:name=".NewTask"
            android:label="@string/title_activity_new_task"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.disciplined.MainActivity" />
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".am12"
            android:enabled="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </service>
        <service
            android:name=".alarmReceiver"
            android:enabled="true"
            />

        <activity android:name=".alamLockScreen"
            android:theme="@style/Theme.NoActionBar"/>
    </application>

</manifest>